dados/
notebooks/energias/
notebooks/graficos/
notebooks/magnet/
notebooks/parquets/
fortran_files/*.mod
fortran_files/ground state/Aij
fortran_files/ground state/Conf
fortran_files/ground state/Nviz
fortran_files/ground state/Resultados
fortran_files/ground state/Vert
fortran_files/ground state/*.mod
*.mod
fortran_files/Mc e Inicial/Pasta sem título
